# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


pose_detection.py

Yoga_Detection1.h5
# myenv/


*.pyd
myenv/

.env

# เพิ่มไฟล์ที่มี keys
src/api/notifications.js
src/firebase.jsx
.env
public/firebase-messaging-sw.js


config/service-account.json